ion-content, ion-footer {
    text-align: center;
    background-color: var(--ion-color-main);
    --background-color: var(--ion-color-main);
}

app-story {
    max-height: 100%;
}

.more {
    margin-bottom: var(--ion-safe-area-bottom);
}