<ion-header class="ion-no-border">
  <ion-toolbar color="main">
    <ion-title translate>result.advertising.title</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-story [stories]="advertise.assets" (onAllStoriesEnd)="dismiss()"></app-story>
</ion-content>

@if(advertise.url) {
<ion-footer>
  <ion-item class="more" (click)="openAdvertise()" color="white">
    <ion-icon aria-hidden="true" name="chevron-forward" slot="end"></ion-icon>
    <ion-label><span translate>result.advertising.more</span></ion-label>
  </ion-item>
</ion-footer>
}