<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title translate>nearRoutes.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="routes.urban.length>0 || routes.massive.length>0">
  <ion-grid>
    <ion-row class="ion-align-items-center" r>
      <ion-col></ion-col>
      <ion-col size="12" size-md="8" size-lg="4">
        <ion-segment [(ngModel)]="selectedBtn" color="primary" mode="ios">
          <ion-segment-button value="urban">
            <ion-label >
              <span translate>nearRoutes.urban</span>
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="massive">
            <ion-label>
              <span translate>nearRoutes.masive</span>
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <ion-list *ngIf="routes">
      <ion-item class="cursor-pointer" *ngFor="let route of getCorrectRoutes()" [routerLink]="['/route',route.id]"
        (click)="open()">
        <ion-label class="route">
          <div class="content">
            <span class="name">
              <span class="route-type-name">
                <ion-icon class="icon" [name]="route.type?route.type:'bus'"></ion-icon> {{ route.name }}
              </span>
              <strong>{{ route.company }}</strong>
            </span>
            <p class="details">{{ route.details }}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-content *ngIf="routes.urban.length===0 && routes.massive.length===0">
  <app-empty-state #emptyState icon="location" text=""></app-empty-state>
</ion-content>