<ion-header *ngIf="addressToggle" class="ion-no-border">
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="lvl1">
    <div id="calculate" style="width:100%; height:100%;"></div>
  </div>
  <div class="lvl2 centered animated faster green"
    [ngClass]="{'fadeInDown': addressToggle, 'fadeOutUp': !addressToggle, 'hide': hiddenToggle}"></div>
  <div class="lvl3 centered animated faster"
    [ngClass]="{'fadeInDown': addressToggle, 'fadeOutUp': !addressToggle, 'hide': hiddenToggle}">
    <div class="ion-padding">
      <app-address-input #start title="calculate.main.origin.title" hint="calculate.main.origin.hint" [currentLocation]="true">
      </app-address-input>
      <app-address-input #end title="calculate.main.destiny.title" hint="calculate.main.destiny.hint">
      </app-address-input>
      <ion-row class="history ion-align-items-center">
        <ion-col size="10" [hidden]="!city?.massive">
          <ion-segment [(ngModel)]="type" size="10" mode="ios">
            <ion-segment-button value="urban" class="switch" translate>
              calculate.main.urban
            </ion-segment-button>
            <ion-segment-button value="massive" class="switch">
              {{city?.massive?.name}}
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col [size]="(!city?.massive)?'12':'2'">
          <ion-button fill="clear" class="ion-no-padding" (click)="showHistory()"><img src="./assets/history.svg"
              class="icon"><span class="text" [hidden]="city?.massive" translate>calculate.main.history</span></ion-button>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="calculate()" class="search" expand="block" shape="round" color="tertiary" translate>calculate.main.search
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="round-input lvl5 centered" (click)="addressToggle=true; hiddenToggle=false;" *ngIf="!addressToggle">
    <span translate>calculate.wheretogo</span>
  </div>
  <div class="lvl4">

  </div>
  <ion-modal id="advertise" #modalAdvertise>
    <ng-template>
      <img [src]="advertise.get('picture')" (click)="openAdvertise(advertise.get('url'))"/>
      <ion-fab slot="fixed" vertical="top" horizontal="end">
        <ion-fab-button size="small" color="primary" (click)="modal.dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-template>
  </ion-modal>
</ion-content>