<ion-content>
  <!-- Fab de tarjetas transcaribe -->
  <ion-fab horizontal="end" vertical="top" slot="fixed" *ngIf="city?.objectId  === 'Gu2tL5zMSH'">
    <ion-fab-button (click)="openCardList()">
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container">
    <div class="map">
      <!-- Mensaje de actualizacion disponible -->
      <ion-card class="info" *ngIf="info.isUpdate">
        <ion-card-content class="ion-no-padding">
          <ion-item *ngIf="info.isUpdate" lines="none">
            <ion-label translate>calculate.info.update.title</ion-label>
            <ion-button slot="end" translate (click)="openStore()"> calculate.info.update.button </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <!-- Mapa -->
      <div id="calculate" style="width:100%; height:100%;"></div>
    </div>
    <div class="calculate">
      <div class="ion-padding">
        <!-- Input de direccion de origen -->
        <app-address-input #start title="calculate.main.origin.title" hint="calculate.main.origin.hint"
          [currentLocation]="true" (onChanged)="inputChanged($event)" identifier="start" />
        <!-- Input de direccion de destino -->
        <app-address-input #end title="calculate.main.destiny.title" hint="calculate.main.destiny.hint"
          (onChanged)="inputChanged($event)" identifier="end" />
        <!-- Segment entre urbano y masivo -->
        <ion-segment [(ngModel)]="type" mode="ios" *ngIf="city?.massive">
          <ion-segment-button value="urban">
            <ion-label translate>calculate.main.urban</ion-label>
          </ion-segment-button>
          <ion-segment-button value="massive">
            <ion-label>{{city?.massive?.name}}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-row class="ion-margin-top">
          <ion-col size="10" size-md="12" class="ion-no-padding">
            <!-- Boton calcular -->
            <ion-button (click)="calculate()" expand="block" shape="round" color="tertiary" translate>
              calculate.main.search
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-hide-md-up ion-no-padding">
            <!-- Boton historial -->
            <ion-button  class="ion-no-padding" (click)="showHistory()" color="tertiary" shape="round" expand="block">
              <ion-icon name="timer-outline" color="secondary"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <!-- Historial -->
      <app-history class="ion-hide-md-down" [showBackButton]="false"></app-history>
    </div>
  </div>
  <!-- Modal de publicidad -->
  <ion-modal id="advertise" #modalAdvertise>
    <ng-template>
      <img [src]="advertise.image" (click)="openAdvertise()" />
      <ion-fab slot="fixed" vertical="top" horizontal="end">
        <ion-fab-button size="small" color="primary" (click)="modal.dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-template>
  </ion-modal>
</ion-content>