<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculate" href="/main/calculate">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label translate=>tabs.calculate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nearRoutes" href="/main/nearRoutes">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
      <ion-label translate>tabs.near</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="routes" href="/main/routes">
      <ion-icon aria-hidden="true" name="bus"></ion-icon>
      <ion-label translate>tabs.routes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/main/settings">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label translate>tabs.settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
