<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculate" href="/main/calculate">
      <ion-icon aria-hidden="true" name="home" color="dark"></ion-icon>
      <ion-label color="dark">
        <span translate>tabs.calculate</span>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nearRoutes" href="/main/nearRoutes">
      <ion-icon aria-hidden="true" name="compass" color="dark"></ion-icon>
      <ion-label color="dark">
        <span translate>tabs.near</span>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="routes" href="/main/routes">
      <ion-icon aria-hidden="true" name="bus" color="dark"></ion-icon>
      <ion-label color="dark">
        <span translate>tabs.routes</span>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news" href="/main/news" *ngIf="showNews">
      <ion-icon aria-hidden="true" name="newspaper" color="dark"></ion-icon>
      <ion-label color="dark">
        <span translate>tabs.news</span>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/main/settings">
      <ion-icon aria-hidden="true" name="cog" color="dark"></ion-icon>
      <ion-label color="dark">
        <span translate>tabs.settings</span>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>