.schedule {
    margin-top: 15px;

    .line {
        border-left: 1px solid;
        color: gray;
        border-color: gray;
        padding-left: 3%;
    }
}

ion-label {
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 10px
}

ion-icon {
    font-size: 20px;
}

swiper-slide {
    text-align: center;

    .image-container {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.social {
    color: var(--ion-color-dark);
    font-size: -webkit-xxx-large;
}

.center {
    text-align: center;
}


.draw {
    --circle-size: 20px;
    --stick-size: 46%;
    --draw-size: 60px;
    height: var(--draw-size);
    width: var(--draw-size);
    position: relative;

    .circle {
        clip-path: circle(50% at 50% 50%);
        height: var(--circle-size);
        width: var(--circle-size);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto auto;
        left: 0;
        right: 0;
    }

    .stick {
        clip-path: inset(0% var(--stick-size) 0% var(--stick-size));
        height: 100%;
    }

    .stick-start {
        clip-path: inset(50% var(--stick-size) 0% var(--stick-size));
        height: 100%;
    }

    .stick-end {
        clip-path: inset(0% var(--stick-size) 50% var(--stick-size));
        height: 100%;
    }

    .blue {
        background: blue;
    }

    .red {
        background: red;
    }
}

@media only screen and (max-width: 768px) {
    .col-map {
        height: 60vh;
    }
    .col-info {
        height: auto;
    }
    .scrollable {
        overflow-y: unset;
    }
}
@media only screen and (min-width: 768px) {
    .col-map {
        height: 100%;
    }
    .col-info {
        height: 100%;
    }
    .scrollable {
        overflow-y: scroll;
    }
}
.full-height {
    height: 100%;
}

