// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/


:root {
  /** qruta titles **/
  --ion-font-family: 'Nunito';

  --ion-color-main: #011f35;
  --ion-color-main-rgb: 1, 31, 53;
  --ion-color-main-contrast: #ffffff;
  --ion-color-main-contrast-rgb: 255, 255, 255;
  --ion-color-main-shade: #011b2f;
  --ion-color-main-tint: #1a3549;

  --ion-color-white: #f6f8fc;
  --ion-color-white-rgb: 246, 248, 252;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #d8dade;
  --ion-color-white-tint: #f7f9fc;

  


}

@media (prefers-color-scheme: light) {
  body {
    --ion-background-color: var(--ion-color-white);
    --ion-text-color: var(--ion-color-main);
    --ion-tab-bar-background: var(--ion-color-white);
    --ion-overlay-background-color: var(--ion-color-white);

    /** light **/
    --ion-color-light: var(--ion-color-white);
    --ion-color-light-rgb: var(--ion-color-white-rgb);
    --ion-color-light-contrast: var(--ion-color-white-contrast);
    --ion-color-light-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-light-shade: var(--ion-color-white-shade);
    --ion-color-light-tint: var(--ion-color-white-tint);

    /** dark **/
    --ion-color-dark: var(--ion-color-main);
    --ion-color-dark-rgb: var(--ion-color-main-rgb);
    --ion-color-dark-contrast: var(--ion-color-main-contrast);
    --ion-color-dark-contrast-rgb: var(--ion-color-main-contrast-rgb);
    --ion-color-dark-shade: var(--ion-color-main-shade);
    --ion-color-dark-tint: var(--ion-color-main-tint);

    --ion-color-primary: var(--ion-color-dark)
  }
}

@media (prefers-color-scheme: dark) {

  body {

    --ion-background-color: var(--ion-color-main);
    --ion-text-color: var(--ion-color-white);
    --ion-tab-bar-background: var(--ion-color-main);
    --ion-overlay-background-color: var(--ion-color-main);

    /** light **/
    --ion-color-light: var(--ion-color-main);
    --ion-color-light-rgb: var(--ion-color-main-rgb);
    --ion-color-light-contrast: var(--ion-color-main-contrast);
    --ion-color-light-contrast-rgb: var(--ion-color-main-contrast-rgb);
    --ion-color-light-shade: var(--ion-color-main-shade);
    --ion-color-light-tint: var(--ion-color-main-tint);

    /** dark **/
    --ion-color-dark: var(--ion-color-white);
    --ion-color-dark-rgb: var(--ion-color-white-rgb);
    --ion-color-dark-contrast: var(--ion-color-white-contrast);
    --ion-color-dark-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-dark-shade: var(--ion-color-white-shade);
    --ion-color-dark-tint: var(--ion-color-white-tint);

    --ion-color-primary: var(--ion-color-dark)
  }

}

.ion-color-main {
  --ion-color-base: var(--ion-color-main);
  --ion-color-base-rgb: var(--ion-color-main-rgb);
  --ion-color-contrast: var(--ion-color-main-contrast);
  --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
  --ion-color-shade: var(--ion-color-main-shade);
  --ion-color-tint: var(--ion-color-main-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Nunito-Regular.ttf');
}

ion-segment-button {
  --color-checked: var(--ion-color-main);
  --color: var(--ion-color-white);
  --background-checked: var(--ion-color-white);
  --indicator-color: var(--ion-color-white);
}