<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title translate>news.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="sources.length > 0 && info.length > 0">
  <ion-segment *ngIf="sources.length > 1" (ionChange)="loadInfo()" mode="ios" [(ngModel)]="selected" color="primary">
    <ion-segment-button *ngFor="let source of sources" [value]="source.get('type')">
      <ion-label >
        <span translate>news.tabs.{{source.get('type')}}</span>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="masonry">
    <ion-card *ngFor="let tweet of info">
      <swiper-container *ngIf="tweet.media.length>0" [pagination]="true">
        <swiper-slide *ngFor="let image of tweet.media">
          <div class="image-container">
            <img [src]="image">
          </div>

        </swiper-slide>
      </swiper-container>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="avatar" [src]="tweet.avatar" />
        </ion-avatar>
        <ion-label>
          <h1>{{tweet.author_name}}</h1>
          <p>&#64;{{tweet.author}} - {{getTime(tweet.date)}}</p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        {{tweet.text}}
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
<ion-content *ngIf="sources.length === 0 || info.length === 0">
  <app-empty-state #emptyState icon="newspaper" text="news.loading"></app-empty-state>
</ion-content>