<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title translate>news.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="sources.length > 0">

  <ion-list>
    <ion-item detail="true" *ngFor="let source of sources" (click)="openSource(source)">
      <ion-icon aria-hidden="true" [name]="source.get('icon')" slot="start"></ion-icon>
      <ion-label>
        <h2>{{source.get('title')}}</h2>
        <p>{{source.get('alias')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-content *ngIf="sources.length === 0">
  <app-empty-state #emptyState icon="newspaper" text="news.loading"></app-empty-state>
</ion-content>