<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" *ngIf="step === 0">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="this.step = 0" *ngIf="step === 1">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img src="../../../assets/qruta-logo.png" class="logo ion-margin-vertical" />
  <div *ngIf="step === 0">
    <h1 class="ion-text-center">Login</h1>
    <div class="step ion-padding">
      <app-input title="Correo Electrónico" icon="mail-outline" type="email" placeholder="usuario@dominio.com"
        (changed)="emailChange($event)" (isValid)="emailValidityChange($event)"></app-input>
      <ion-button expand="block" shape="round" color="light" [disabled]="!emailForm.valid || isLoading" (click)="sendOTPCode()"
        translate> 
        <span *ngIf="!isLoading">CONTINUAR</span> 
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> 
      </ion-button>
      <hr />
      <ion-button color="light" shape="round" expand="block" (click)="loginGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
      <ion-button color="light" shape="round" expand="block">
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        Apple
      </ion-button>
    </div>
  </div>
  <div *ngIf="step === 1" class="step ion-padding">
    <div class="header">
      <h3>{{emailForm.email}}</h3>
      <p>Enviamos un código a tu correo electrónico, revisa tu bandeja de entrada o bandeja de SPAM.</p>
    </div>
    <app-input title="Código" icon="lock-closed-outline" type="number" placeholder="123456"
        (changed)="codeChange($event)"></app-input>
    <ion-button expand="block" shape="round" color="light" [disabled]="(codeForm.code !== '' && codeForm.code.length !== 6) || isLoading" (click)="validateOTP()"
        translate> 
        <span *ngIf="!isLoading">INGRESAR</span> 
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> 
      </ion-button>
    <ion-button expand="block" shape="round" color="primary" (click)="sendOTPCode()" [disabled]="countDown.count > 0" translate>Reenviar Código {{countDown.count > 0 ? '(' + countDown.count + 's)' : ''}}</ion-button>
  </div>
</ion-content>