<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title translate>routes.title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="objectKeys(companies).length">
  <ion-searchbar placeholder="{{'routes.filter' | translate}}" (ionInput)="filter($event)"></ion-searchbar>
  <ion-accordion-group [multiple]="true" expand="inset" #accordion [value]="['0']">
    <ion-accordion *ngFor="let company of objectKeys(filtered); index as i" [value]="i">
      <ion-item slot="header" color="primary" class="route-header">
        <ion-label class="ion-text-center">{{
          filtered[company].name
          }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ion-text-center social">
          <a *ngFor="let social of filtered[company].socials" [href]="social.url" target="_blank">
            <ion-icon [name]="social.icon" size="large"></ion-icon>
          </a>
        </div>
        <ion-grid>
          <ion-row class="route-list ion-nowrap" *ngFor="let route of filtered[company].routes" [routerLink]="['/route/'+route.id]"
            routerDirection="forward">
            <ion-col class="no-wrap v-center">
              <span class="route-box v-center">
                <ion-icon name="bus"></ion-icon>
                {{ route.get("name") }}
              </span>
              <span class="detail">{{ route.get("details") }}</span>
            </ion-col>
            <ion-col size="auto" *ngIf="isUpdated(route.get('updatedAt'), route.get('createdAt'))"><ion-chip color="primary" translate>routes.status.updated</ion-chip></ion-col>
            <ion-col size="auto" *ngIf="isNew( route.get('createdAt'))"><ion-chip color="primary" translate>routes.status.new</ion-chip></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<ion-content *ngIf="!objectKeys(companies).length">
  <app-empty-state #emptyState icon="bus" text="routes.loading"></app-empty-state>
</ion-content>