<div class="story-container">
  <div class="progress-container">
    @for(item of stories;track item.url ;let i = $index) {
    <div class="progress-bg">
      <div class="progress-fill" [style.width.%]="
          i < currentIndex ? 100 : i === currentIndex ? progress : 0
        "></div>
    </div>
    }

  </div>

  <div class="content-wrapper">
    @if(stories[currentIndex].type === 'image') {
    <img [src]="stories[currentIndex].url" class="story-media" />
    }

    @if(stories[currentIndex].type === 'video') {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="toggleMute()" color="main">
        <ion-icon name="volume-{{isMuted?'mute':'high'}}-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button (click)="tooglePlay()" color="main">
        <ion-icon name="{{videoPlayer.paused?'play-outline':'pause-outline'}}"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <video #videoPlayer [src]="stories[currentIndex].url" class="story-media" autoplay muted playsinline webkit-playsinline
      (ended)="onVideoEnded()" [muted]="isMuted"></video>
    }

  </div>

  <div class="nav-overlay">
    <div class="nav-zone left" (click)="prevStory()"></div>
    <div class="nav-zone right" (click)="nextStory()"></div>
  </div>
</div>