.action-arrow {
    justify-content: right;
}

.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    ion-icon {
        flex-shrink: 0;
    }
}
img.icon {
    margin-right: 10px
}

@media (prefers-color-scheme: dark) {
    ion-card {
        border: 1px solid #888;
    }
}
