<ion-header class="navbar">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="modalCtrl.dismiss()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>calculate.map.title</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="address" class="map"></div>
  <ion-icon name="locate" class="pin floating" color="secondary"></ion-icon>
  <ion-button class="button floating" (click)="select()" shape="round" color="primary" translate>calculate.map.select</ion-button>
</ion-content>