.map {
    position: relative;
    width: 100%;
    height: 100%;
}
.floating{
    position: absolute;
    z-index: 400;
}
.pin {
    font-size: 35px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.button{
    bottom: 15px;
    left: 25px; right: 25px;
}
