.top {
    background-color: var(--ion-color-primary);
}

.route-name {
    color: var(--ion-color-primary);
    font-size: x-large;
}

.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    ion-card {
        border: 1px solid #888;
    }
}