<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button (click)="backAction()"></ion-back-button>
    </ion-buttons>
    <ion-title translate> settings.title </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <div class="options">
      <ion-item>
        <ion-select placeholder="Seleccionar" (ionChange)="onChangeDistance()" [(ngModel)]="selectedDistance" label="{{'settings.walkDistance' | translate}}">
          <ion-select-option value="1">500m</ion-select-option>
          <ion-select-option value="2">1km</ion-select-option>
          <ion-select-option value="3">1.5km</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail>
        <ion-select placeholder="Seleccionar" (ionChange)="onChangeLayer()" [(ngModel)]="selectedLayer" label="{{'settings.mapType' | translate}}">
          <ion-select-option *ngFor="let layer of layers" [value]="layer.id">{{layer.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    
    <ion-button color="primary" (click)="faq()" shape="round" expand="block" translate>settings.faq.title</ion-button>
    <a color="primary" href="mailto:queruta@gmail.com" target="_blank" rel="noopener noreferrer">
      <ion-button shape="round" expand="block" color="primary" translate>settings.contact</ion-button>
    </a>
    <a color="primary"
      href="https://docs.google.com/document/d/14d1_fXqkzR4f2iawTnsKjFEPI8EOir3L18qAj560MKk/edit?usp=sharing"
      target="_blank" rel="noopener noreferrer" (click)="openTerms()">
      <ion-button shape="round" expand="block" color="primary" translate>settings.terms</ion-button>
    </a>
    <ion-button color="primary" (click)="changeCity()" shape="round" expand="block" translate>settings.changeCity</ion-button>
    <ion-button color="primary" (click)="install()" shape="round" expand="block" *ngIf="setup!==undefined" translate>settings.install</ion-button>
  </ion-list>
  <h3 translate class="center" *ngIf="sponsors.length > 0">settings.sponsors</h3>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let sponsor of sponsors" size-xs="4" size-sm="3" size-md="2" size-lg="1">
        <img [src]="sponsor.get('icon')">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let page of social" class="center">
        <a [href]="page.url" target="_blank" rel="noopener noreferrer">
          <ion-icon [name]="page.icon" class="social"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>