.buttons{ 
    position: absolute; 
    bottom: 15px;
    left: 15px;
    right: 15px;

}
a{
    color: white;
    text-decoration-line: none;
}
.center{
    text-align: center;
}
.social{
    color:var(--ion-color-dark);
    font-size: -webkit-xxx-large;
}
.options{
    margin-bottom: 25px;
}